body{
	background-color: lightgrey;
}

h1{
	color:red; font-size: 10px;
	text-decoration: underline;
}

h2{
	color:blue;font-size: 50px
}

#first{
	font-size: 10px
}

.small{
	font-size: 20px

}

span{
	font-style: italic;
}

h2 span{
	text-decoration: line-through;
}
